h5py
numpy
torchvision
pprint
enum34
future
pandas
shapely
matplotlib
pomegrante
ipykernel
imageio
pyquaternion
Python >= 3.7

conda install pytorch==1.7.1 torchvision==0.8.2 torchaudio==0.7.2 cudatoolkit=10.2 -c pytorch

